{:paths   ["resources" "src"]
 :deps    {org.clojure/clojure  {:mvn/version "1.10.1"}
           seancorfield/clj-new {:git/url "https://github.com/seancorfield/clj-new"
                                 :sha     "b1c674ec5b4c0cf420d700eee3ca80d431f00b55"}}
 :aliases {:test   {:extra-paths ["test"]
                    :extra-deps  {org.clojure/test.check {:mvn/version "0.10.0-RC1"}}}
           :runner {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                            :sha     "76568540e7f40268ad2b646110f237a60295fa3c"}}
                    :main-opts  ["-m" "cognitect.test-runner"
                                 "-d" "test"]}}}
